@import '../../../../app/styles/variables';

.button {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: $white;
}

.transparent {
  background-color: transparent;

  border: 2px solid $white;

  border-radius: 30px;

  width: 300px;
  height: 70px;

  transition: color 0.5s ease, border 0.5s ease;

  &:hover {
    color: $gray;
    border: 2px solid $gray;
  }
}

.primary {
  background-color: $primaryBtnColor;
  width: 300px;
  height: 75px;
  border-radius: 30px;

  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.5;
  }
}
